/*Basic settings*/

:root {
    --post-width: 22rem;
    --photo-height: 18rem;
    --font-dark: #000000;
    --font-light: #FFFFFF;
    --b-color1: #A2A2A2;
    --b-color2: #F2F2F2;
    font-weight: 200;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

img{
    min-height: 100%;
}

/*=============
LAYOUT
=============*/



/*=============
POST DESIGN
=============*/
.post {
    width: var(--post-width);
    height: calc(1.5 * var(--post-width));

    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: linear-gradient(to bottom right, var(--b-color1), var(--b-color2));
    
    border-radius: 1.25rem;
    box-shadow: 0rem .2rem .5rem rgba(0, 0, 0, .15);
}
/*Post top*/
.post-top {
    height: 4rem;

    display: flex;
    align-items: stretch;

    gap: 1rem;
    padding: .5rem;
}
.post-top>*{
    height: 100%;
}
.wrapper{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*Profile pic*/
.profile-pic-wrapper {
    display: flex;

    border-radius: 50%;
    overflow: hidden;
}

/*Post info*/
.post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;
}
.user-name {
    color: var(--font-dark);
    font-size: 1.5rem;
    font-weight: 400;
}
.post-date {
    color: var(--font-light);
    font-size: 1rem;
}

/*Post options*/
.post-option-button {
    width: 2rem;
    height: auto;
    margin: .5rem;

    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    
    cursor: pointer;
    transition: ease-in-out .3s;
}
.post-option-button:hover {
    color: var(--font-dark);
    transition: ease-in-out .2s;
}
.post-option-button:active {
    font-size: .9rem;
    transition: ease-in-out .1s;
}

/*Image section*/
.post-image {
    height: var(--photo-height);
    width: 100%;
}
.post-image img {
    display: block;
}

/*post items*/
.post-actions {
    height: 3rem;

    display: flex;

    padding: 0.75rem 1rem 0.75rem 1rem;
    gap: 1rem;
}

/* Post description*/
.post-description {
    display: flex;
    margin: 0 1rem 0 1rem;
    white-space: pre-wrap;
}
.post-description p span{
    margin-right: 2ch;
    font-weight: 800;
}
.post-description p {
    text-align: justify;
}
